@charset "utf-8";

/*
body
{
    width:100%; 
    height:auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background:#d4dbdc; 
    margin:0; 
    padding:0;
    float: left;
}

.main-content 
{
    width: 100%;
    float: left;
}

header
{
    float: left;
    min-width: 100%;
    font-weight: 300;
    background-color: #7e7e7e;
    color: #efefef;
    -webkit-box-shadow: black 0px 5px 100px;
    padding: 0 10%;
    min-height: 130px;
}

header h1
{
    font-size: 40pt;
    text-shadow: 0px 1px 50px lightgrey;
}

header + section
{
    margin-top: 30px;
}

section.main-content > section
{
    display: inline-block;
    margin: 0 13%;
    width: 100%;
}

section > section
{
    float: left;
}

section > h1
{ 
/*    font-family:Myriad Pro, Verdana, Arial; *
    font-size:34px; 
    line-height:40px; 
    color:#4f575b; 
    margin:0; 
    padding-bottom:30px;
    font-weight:lighter;
}
section h2 
{ 
    margin:0;
    padding-left:30px;
    padding-bottom:10px; 
/*    font-family:Myriad Pro, Verdana, Arial; *
    font-size:28px; 
    font-weight:lighter; 
    color:#5eb115; 
    background:url(images/arrow.jpg) no-repeat 0 5px;
}

footer
{
    float: left;
    min-width: 100%;
    min-height: 175px;
    font-size: small;
    text-align: center;
    background-color: #395a6e
}

a 
{ 
    color:#5eb115;
}

.features li
{  
    list-style-type: disc;
    padding-left: 30px;
    padding-bottom:30px;
/*    font-family: Arial, Verdana, Geneva, sans-serif;*
    font-size:14px;
    line-height:20px;
    color:#4f575b;
}

footer 
{
    height:30px; padding:20px 0 0 120px;
}

*/

header
{

    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 1px 100px 100px rgba(0,0,0,0.5)
}

section > *
{
    color: #444;
}

section + section
{
    margin-top: 20px;
}

header > *
{
    color: #fff;
}

header > h1
{
    font-size: 34pt;
    font-weight: bold;
    line-height: 12pt;
    display: inline-block;
}

header > h2
{
    font-size: 18pt;
}

header + section.container
{
    padding-top: 30px;
}

footer
{
    text-align: center;
    background-color: lightgrey;
    min-height: 75px;
}

ul > li
{
    line-height: 10pt;
    list-style-position: inside;
    list-style-image: url(images/yes.jpg);
    text-indent: 20px;
}

.testimonial
{
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    float: left;
    max-width: 150px;
    min-height: 100px;
    margin-right: 15px;
}

.testimonial > .attribution:before
{
    content: "- ";
}

.testimonial > .attribution
{
    font-size: smaller;
    text-align: right;
}

.failkitlogo
{
    display: inline-block;

    background-image: url(images/FailKit_logo.gif);
    background-color: rgba(255,255,255,0);
    height: 60px;
    width: 60px;
}

#banner
{
    position: absolute;
    right: 0px;
	height: 149px;
	width: 149px;
	overflow:hidden;
	padding: 0;
	margin: 0;
	display: inline;
}

#banner a
{
	display: block;
	width: 190px;
	font-size: 14px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
		"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, 
		Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	background-color: #333;
	color: #FFF;
	word-spacing: 2px;
	text-decoration: none;
	padding: 5px 15px 5px 25px;

	position:relative;
	left: 20px;
	top: -37px;
	text-align: center;

	-moz-transform-origin: 0 0 ;
	-moz-transform:rotate(45deg);
	-moz-box-shadow:    1px 1px 5px 1px #666;

	-webkit-transform-origin: 0 0 ;	
	-webkit-transform:rotate(45deg);
	-webkit-box-shadow: 1px 1px 5px 1px #666;

	-ms-transform-origin: 0 0 ;	
	-ms-transform:rotate(45deg);
	-ms-box-shadow: 1px 1px 5px 1px #666;

	transform-origin: 0 0 ;	
	transform:rotate(45deg);
	box-shadow: 1px 1px 5px 1px #666;

	background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
	background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #000000),
		color-stop(0.05, #666666),
		color-stop(0.07, #000000),
		color-stop(0.93, #000000),
		color-stop(0.95, #666666),
		color-stop(0.97, #000000)
	);	

}
